In [1]:
# read this into a dataframe: trrust_mock_MYC_init_conds_001.parquet
import pandas as pd

df = pd.read_parquet('trrust_mock_MYC_init_conds_001.parquet')
df

        CCND2      CDKN1A         MYC  InitCondNum
0    0.000200    0.085200  117.894196            1
1    0.104500    0.009000  145.006790            2
2    0.108400    1.480100   62.104000            3
3    0.404100    0.103500    0.076400            4
4    0.377500    0.050600   44.801998            5
5    2.039600    0.468500    2.228400            6
6    0.003000    0.006700  208.184891            7
7    2.925900    2.449900  134.459396            8
8   21.537699    5.765500    4.402300            9
9    0.156900  397.928101    3.112000           10
10   0.000200    0.085200  117.894196           11
11   0.104500    0.009000  145.006790           12
12   0.108400    1.480100   62.104000           13
13   0.402600    0.103500    0.076400           14
14   0.377500    0.055300   44.801998           15
15   2.039600    0.468500    2.228400           16
16   0.003000    0.006600  208.184891           17
17   2.925900    2.449900  134.443604           18
18  21.537399    5.765500    4.402500           19
19   0.156900  397.927979    3.112000           20

In [2]:
df = pd.read_parquet('trrust_mock_MYC_params_001.parquet')
df

   Prod_CCND2  Prod_CDKN1A  Deg_CCND2  Deg_CDKN1A  ParamNum
0    1.000000    68.800618   0.613295    1.000000         1
1   67.056531    59.924768   0.684532    0.881940         2
2   20.678468    51.433544   0.459736    0.269881         3
3   34.067137    86.147335   0.100000    0.943126         4
4   27.140384     1.000000   0.712657    0.100000         5
5  100.000000    23.495729   0.537611    0.371560         6
6    6.409928    10.703067   0.978890    0.176674         7
7   59.503028    98.162897   0.850857    0.498511         8
8   55.838656    79.452860   1.000000    0.777869         9
9   36.055820   100.000000   0.542115    0.250776        10